
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #1B211A;
  color: #928989;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #282e33;
}

#heroOverlay {
  height: 250px;
  width: 100%;
  background-color: #c5b381;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3rem;
  padding: 20px 40px;
  background-color: #282e33;
  color: #c5b381;
  border-radius: 25px;
  box-shadow: 5px 5px #695847;
}

.navbar {
  background-color: #282e33;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.navigation a {
  color: #c5b381;
  text-decoration: none;
}

.navigation a:hover {
  color: #695847;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.pageTitle {
  color: #c5b381;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.feature img {
  width: 45%;
  border-radius: 16px;
}

.feature .text {
  width: 55%;
  margin: 5rem; 
  font-size: 1.2rem;
}

.text.reverse {
  margin: 0;
}

.feature.reverse {
  flex-direction: row-reverse;
}


@media (max-width: 768px) {
  .feature,
  .feature.reverse {
    flex-direction: column;
    gap: 2rem;
  }

  .feature img,
  .feature .text {
    width: 100%;
  }

  .pageTitle {
    font-size: 1.8rem; 
  }

  .feature .text p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
