
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282e33;
    margin: 0;
}

.signup-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px;
}

#title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#submit {
    width: 100%;
    padding: 0.7rem;
    background-color: #c5b381;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

button#submit:hover {
    background-color: #695847;
}

#error {
    color: red;
    margin-top: 10px;
    display: none;
}

.links {
    margin-top: 1rem;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
}

.links a:hover {
    text-decoration: underline;
}
